{% extends 'catalog/base.html' %}
{% block content %}
{% load my_tags %}


<div class="container">

    <div class="row">
        {% for object in object_list %}
        <div class="col-md-4">
            <div class="card-deck mb-3 text-center">
                <div class="card" style="width: 18rem;">
                    <img src="{{ object.preview|mediapath }}" class="img-fluid rounded-start"
                         alt="Изображение отсутствует">
                    <div class="card-body">
                        <h5 class="card-title">{{ object.name | title }}</h5>
                        <p class="card-text">{{ object.description|slice:"0:100" }}</p>
                        <h5 class="card-title">{{ object.price }} РУБ.</h5>
                        <a href="{% url 'catalog:product_detail' object.pk %}" class="btn btn-primary">Подробнее</a>
                    </div>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
    {% endblock %}