{% extends 'catalog/base.html' %}
{% block content %}
{% load my_tags %}
<div class="col-12 mb-5">
    <a class="btn btn-outline-primary" href="{% url 'catalog:create' %}">Добавить продукт в Авоську</a>
</div>
<div class="container">

    <div class="row">
        {% for object in object_list %}
        <div class="col-md-4">
            <div class="card-deck mb-3 text-center">
                <div class="card" style="width: 18rem;">
                    <img src="{{ object.preview|mediapath }}" class="img-fluid rounded-start"
                         alt="Изображение отсутствует">
                    <div class="card-body">
                        <h5 class="card-title">{{ object.name | title }}</h5>
                        <p class="card-text">{{ object.description|slice:"0:100" }}</p>
                        <h5 class="card-title">{{ object.price }} РУБ.</h5>
                        <p class="card-text">Версия: {{ object.active_version }}</p>
                        <a href="{% url 'catalog:view' object.pk %}" class="btn btn-primary">Подробнее</a>
                    </div>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
    {% endblock %}